.team-row {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.team-member-card {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  width: 50%;
  padding: 6px;
  margin: 5px;
}
