/* nav {
  display: flex;
  width: 360px;
}
ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
} */
/* Container */
.navbar-overlay {
  position: absolute;
  top: 40px;
  left: 40%;
  z-index: 10;
}
/* Drawer */
.icon-container {
  position: fixed;
  top: 10px;
  right: 30px;
  z-index: 100;
}

/* Styling */
.navbar-overlay nav {
  background-color: transparent;
  padding: 10px;
}

.navbar-overlay nav ul {
  display: flex;
  list-style-type: none;
}

.navbar-overlay nav ul li {
  margin-left: 50px;
  font-size: 20px;
}

.navbar-overlay nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Media Queries */

/* Large */
@media screen and (max-width: 1024px) {
  .navbar-overlay {
    top: 10px;
    left: 30%;
  }

  .navbar-overlay nav ul li {
    margin-left: 30px;
    font-size: 18px;
  }
}

/* Medium */
@media screen and (max-width: 767px) {
  .navbar-overlay {
    top: 10px;
    left: 20%;
  }

  .navbar-overlay nav ul li {
    margin-left: 20px;
    font-size: 16px;
  }
}

/* Small */

/* Extra small */
@media screen and (max-width: 300px) {
  .navbar-overlay {
    top: 10px;
    left: 5%;
  }

  .navbar-overlay nav ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar-overlay nav ul li {
    margin-bottom: 8px;
    font-size: 12px;
  }
}
